﻿@model IEnumerable<XpenseTracker.Models.Expense>

@{
    ViewBag.Title = "GetRangeList";
    double sum = 0;
}

<h2>My bills</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        sum += item.Amount;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ExpenseID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ExpenseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ExpenseID })
            </td>
        </tr>
    }

</table>
<div class="form-inline">
    <h3>Total: @sum</h3>
</div>
