﻿@model XpenseTracker.Models.ExpenseViewRangeModels
@{
    ViewBag.Title = "GetRange";
}

<h2>Enter the range</h2>

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-inline">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7 pull-right">
                        @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control col-md-2 datepicker" } })
                        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.End, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7 pull-right">
                        @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control col-md-2 datepicker" } })
                        @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group ">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Find" class="btn btn-default" />
            </div>
        </div>
    </div>
}

