﻿@model XpenseTracker.Models.ExpenseWeeklyViewModel
@{
    ViewBag.Title = "GetWeeklyReport";
}

<h2>Weekly Report</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Start date")
        </th>
        <th>
            @Html.DisplayName("End Date")
        </th>
        <th>
            @Html.DisplayName("Total")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ExpenseRecords)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ExpenseID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ExpenseID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ExpenseID })
                </td>*@
        </tr>
    }
</table>
@*@Html.ActionLink("Filter Expense", "GetRange", "Expenses")*@

<h4>Enter the range</h4>

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-inline">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => Model.Start, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7 pull-right">
                        @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control col-md-5 datepicker" } })
                        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.End, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7 pull-right">
                        @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control col-md-5 datepicker start"} })
                        @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group ">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Find" class="btn btn-default" />
            </div>
        </div>
    </div>
}
