﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("XpenseTracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Expenses", "Index", "Expenses")</li>
                        @*<li>@Html.ActionLink("Add Bill", "Create", "Expenses")</li>*@        
                        <li>@Html.ActionLink("View Report", "GetWeeklyReport", "Expenses")</li>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("View All Expenses", "GetAdminList", "Expenses")</li>
                        }
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - XpenseTracker</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryui-timepicker")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/themes/base/css/timepicker")
    @RenderSection("scripts", required: false)
    <script>
        $(window).load(function () {
            $(".loader").fadeOut("slow");
        })
        $( function() {
            $(".datepicker").datetimepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1916:2017",
                timeFormat: "hh:mm tt"
            });

        } );
    </script>
</body>
</html>
